<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Indovina</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap'>
  <link rel="icon" href="{{url_for('static', filename='asset/Logo.png')}}">
	<link rel="stylesheet" href="{{url_for('static', filename='css/indovina.css')}}">

</head>
<body>
	{% include 'loading.html' %}
<div class="wrapper">
	
	<div class="container">
		<form method="post" action="/indovina/risposta/{{id}}">
		<div class="search-box">
				<input type="text" placeholder="Prova ad indovinare..." id="inp-word" name="inp-word" required/>
				<button id="search-btn" type="submit">Vai</button>	
		</div>
		</form>

		<div id="result" class="result">Messaggio dall'utente:<b> {{msg}}</b></div>
	</div>
	<a href="/">Torna alla Home</a>
</div>
</body>
</html>
