<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Profilo</title>
  <meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{{url_for('static', filename='css/profilo.css')}}">
<link rel="icon" href="{{url_for('static', filename='asset/Logo.png')}}">
</head>
<body>

  
  {% include 'navbar.html' %}
<div class="wrapper">
  <div class="profile-card js-profile-card">
    <div class="profile-card__img">
      {% if propic == "NULL" %}
        <img src="{{url_for('static', filename='asset/user-avatar.png')}}" alt="profile card">
      {% else %}
        <img src="{{propic}}" alt="profile card">
      {% endif %}
    </div>

    <div class="profile-card__cnt js-profile-cnt">
      <div class="profile-card__name">{{username}}</div>

      <div class="profile-card__txt">{{desc}} <br> <b><span id="time"></span></b>  al reset delle vite</div>
      
      <div class="profile-card-loc">
        <span class="profile-card-loc__icon">
          <svg class="icon"><use xlink:href="#icon-location"></use></svg>
        </span>

        <span class="profile-card-loc__txt">Ti rimangono {{vite}} vite</span>
      </div>

      <div class="profile-card-inf">
        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">{{domande}}</div>
          <div class="profile-card-inf__txt">Domande Pubblicate</div>
        </div>

        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">{{coins}}</div>
          <div class="profile-card-inf__txt">Coins</div>
        </div>

        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">{{risposte}}</div>
          <div class="profile-card-inf__txt">Risposte Corrette</div>
        </div>

        <div class="profile-card-inf__item">
          <div class="profile-card-inf__title">{{lvl}}</div>
          <div class="profile-card-inf__txt">Livello Attuale</div>
        </div>

      </div>
      <div class="profile-card-ctr">
        <button class="profile-card__button button--blue js-message-btn"><a href="/profilo/modifica">Modifica Profilo</a></button>
        <button class="profile-card__button button--orange"><a href="/logout">Logout</a></button>
      </div>
    </div>
  </div>

</div>

<script>
(function() {
  var start = new Date;
  start.setHours(24, 0, 0);

  function pad(num) {
    return ("0" + parseInt(num)).substr(-2);
  }

  function tick() {
    var now = new Date;
    if (now > start) { 
      start.setDate(start.getDate() + 1);
    }
    var remain = ((start - now) / 1000);
    var hh = pad((remain / 60 / 60) % 60);
    var mm = pad((remain / 60) % 60);
    var ss = pad(remain % 60);
    document.getElementById('time').innerHTML =
      hh + ":" + mm + ":" + ss;
    setTimeout(tick, 1000);
  }

  document.addEventListener('DOMContentLoaded', tick);
})();

</script>

{% include 'loading.html' %}
</body>
</html>
